<!doctype html>
<link rel=stylesheet type="text/css" href="/static/style.css" />
<html>

  <head>
    <title>Text Adventure</title>

  </head>

  <body>
    <div class="room">
        <h1 id="room_title">Room</h1>
        <h3 id="room_description">Description</h3>
    </div>

    <div class="inv">
        <ul>
        </ul>
    </div>

    <div class="action_form">
        <form action="/game" method="post" name="action_form"> 
            {% block action_form %}
            {% endblock action_form %} 
        </form>
  </body>

</html>