<!doctype html>
<link rel=stylesheet type="text/css" href="/static/style.css" />
<html>

  <head>
    <title>Text Adventure</title>

  </head>

  <body>
    <div class="room">
      {% block room_details %}
      {% endblock room_details %}
    </div>

    <div class="newgame">
        <a href='/newgame'>New Game</a>
    </div>

    <div class="message">
      {% block messages %}
      {% endblock messages %}
    </div>

    <div class="inventory">
      {% block inventory_list %}
      {% endblock inventory_list %}
    </div>

    <div class="exits">
      {% block exits %}
      {% endblock exits %}
    </div>

    <div class="action_form">
      <form action="/" method="post" name="action_form" autocomplete="off"> 
            {% block action_form %}
            {% endblock action_form %} 
      </form>
    </div>

    <div class="flashed-messages">
      {% block flashed_messages %}
      {% endblock flashed_messages %}
    </div>

  </body>

</html>